@media screen and (max-width: 991px) {
  
  .newsweek-logo-small {
    width: 132px;
    height: 20px;
  }

  .logo-navbar {
    height: 50px;
  }

  .action-btn {
    padding-top: 0;
  }

  .weather-text {
    margin-top: 5px;
  }

  .menu-icon {
    font-size: 28px;
    padding: 5px 5px 5px 25px;
    color: white;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  main {
    margin-top: -130px;
  }

  .more-stories {
    max-height: 610px;
  }

  .debate-link-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .top-story {
    padding-left: 0;
  }

  .more-stories {
    display: flex;
    flex-direction: column;
  }

  .ms-text, .editor-picks p{
    font-size: 13px;
  }

  .opinion {
    padding: 20px 0;
  }

  .in-the-magazine a {
    font-size: 16px;
  }

  .editor-picks-link, .subscribe-title{
    font-size: 20px;
  }

  .slideshow-link {
    font-size: 18px;
  }

  .featured-slideshow h4 {
    margin-bottom: 30px;
  }

  .picks h4 {
    padding-bottom: 25px;
  }

  .subs-news-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nl-pic {
    max-width: 100%;
    width: 100%;
    height: 160px;
  }

  .nl-info {
    text-align: center;
  }

  .copyright {
    padding: 10px 0;
  }
 
}

@media screen and (max-width: 640px) {
  .weather-city {
    display: none;
  }

  .weather-container {
    display: flex;
  }

  .login-container {
    padding-left: 5px;
    padding-right: 5px;
  }

}

@media screen and (max-width: 542px) {
  .login-container {
    font-size: 14px;
    line-height: 14px;
  }

  .red-arrow {
    display: none;
  }

  .subscribe-link {
    margin-left: 2px;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
  }

}

@media screen and (max-width: 444px) {
  .degrees {
    display: none;
  }
}