/* FONTS USED:
HEADER: ROBOTO CONDENSED 400 -700 
SEARCH TEXT: ARIAL
TEXT INSIDE PICTURES: ROBOTO CONDENSED
MAIN NEWS TITLE: ROBOTO CONDENSED
MAIN NEWS TEXT: ARIAL
CULTURE & TRAVEL: LORA
TEXT INSIDE CULTURE & TRAVEL PHOTOS: HELVETICA NEUE */

.font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}