/* FONTS USED:
HEADER: ROBOTO CONDENSED 400 -700 
SEARCH TEXT: ARIAL
TEXT INSIDE PICTURES: ROBOTO CONDENSED
MAIN NEWS TITLE: ROBOTO CONDENSED
MAIN NEWS TEXT: ARIAL
CULTURE & TRAVEL: LORA
TEXT INSIDE CULTURE & TRAVEL PHOTOS: HELVETICA NEUE */
* {
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-helvetica-neue {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}

.newsweek-bgcolor {
  background-color: #f72210;
}

.newsweek-text-color {
  color: #f72210;
}

body {
  max-width: 1340px;
  margin: auto;
  background-color: #d9d9d9!important;
}

main {
  background-color: white;
  margin-top: -25px;
  border-top: 1px solid #f4f5f6;

}

header {
  width: 100%;
  height: 180px;
}

.logo-navbar {
  height: 54%;
}

.newsweek-logo {
  width: 396px;
}

.white-arrow {
  vertical-align: baseline;
}

.weather-container {
  color: white;
}

.weather-text {
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;
}

.login-container {
  font-size: 18px;
  font-weight: bold;
  padding-top: 35px;
}

.subscribe-link {
  background-color: white;
  padding-left: 12px;
  margin-left:10px;
}

.red-arrow {
  width: 8px;
  height: 13.5px;
  vertical-align: baseline;
  margin-left: 10px;
}

.bottom-nav {
  background-color: white;
  border-bottom: 1px solid #f4f5f6;
  color: #000;
  position: relative;
  padding-right: 160px;
}

.nav-list-wrapper {
  width: 100%;
} 

.before-bottom-nav {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 88px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.nav-list-wrapper ul {
  width: 100%;
}

.bottom-nav li:first-child {
  border-left: none;
}

.bottom-nav li {
  flex-grow: 1;
  border-left: 1px solid;
  border-left-color: #d9d9d9;
  text-align: center;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.bottom-nav a {
  color: #000;
}

.bottom-nav a:hover {
  color: #f72210;
  text-decoration: none;
}

.search-btn {
  right: 82px;
  top: 18px;
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  position: absolute;
}

.search-form input[type=text] {
  top: 0;
  right: 102px;
  width: 60px;
  height: 54px;
  position: absolute;
  background-color: white;
  color: rgba(0,0,0,.55);
}

.first-sections-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.featured-section {
  padding-top: 20px;
}

.featured-section h3 {
  width: 94.5%;
}

.stories-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #9A9A9A;
  font-weight: 700;
  padding-bottom: 5px;
  
}

.fs-picture {
  width: 94.5%;
}

.img-container {
  position: relative;
  width: 100%;
}

.category {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  background-color: rgb(255, 255, 255, .9);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 15px 9px;
}

.category a {
  color: inherit;
}

.category a:hover {
  text-decoration: none;
  color: inherit;
}

.story-link {
  font-size: 24px;
  line-height: 24px;
  font-family: "Roboto Condensed",sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}

.story-link:hover {
  color: black;
  text-decoration-color: #f72210;
}

.summary-text {
  color: #333;
  font-size: 15px;
  line-height: 20px;
  width: 94.5%;
  margin-bottom: 1.2rem;
}

.top-story {
  padding: 20px 10px;
}

.top-story > article {
  margin-bottom: 30px;
}

.ts-picture {
  width: 101%;
}

.ts-story-link {
  font-size: 22px;
}

.ts-story-text {
  width: 100%;
}

.culture-picture {
  width: 106%;
}

.culture-tags {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  background-color: #c2d4d7;
}

.culture-tags a {
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  color: #272727;
}

.culture-tags a:hover {
  background-color: #272727;
  color: #c2d4d7;
  text-decoration: none;
}

.culture-link-title {
  width: 104%;
}

.culture-link {
  color: #272727;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}

.culture-link:hover {
  text-decoration: none;
  color: #272727;
}

.culture-text {
  color: rgba(39,39,39,.5);
  width: 106%;
}

.more-stories article {
  border-top: 1px solid #ddd;
}

.ms-img-container {
  width: 95px;
  padding-top: 2px;
  margin-right: 15px;
  float: left;
}

.ms-link {
  font-size: 17px;
}

.ms-text {
  width: 101%;
}

.add-border {
  border: 2px solid;
}

.border-color-blue {
  border-color: blue;
}

.border-color-green {
  border-color: green;
}

.border-color-yellow {
  border-color: yellow;
}